.container {
  min-height: 100vh;
  margin-top: 50vh;
  display: flex;
  gap: 5em;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  .image1Wrapper {
    position: relative;
    width: 100%;
    height: 400px;
    display: flex;
    overflow: hidden;
    justify-content: flex-end;
    align-items: center;
    .image1Target {
      bottom: -100vh;
    }

    .image1Target,
    .image1 {
      position: absolute;
      top: -100vh;
      right: 20px;
      left: auto;
    }
    .image1 {
      background-image: url(../../images/medusa1.png);
      background-color: #4e4e4e;
      background-blend-mode: luminosity;
      width: 400px;
      top: -80vh;
      height: inherit;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  .image2Wrapper {
    position: relative;
    width: 100%;
    height: 400px;
    display: flex;
    overflow: hidden;
    justify-content: flex-end;
    align-items: center;
    .image2Target {
      bottom: -100vh;
    }
    .image2Target,
    .image2 {
      position: absolute;
      top: -100vh;
      right: auto;
      left: 20px;
    }
    .image2 {
      background-image: url(../../images/medusa2.jpg);
      background-color: #4e4e4e;
      background-blend-mode: luminosity;
      width: 400px;
      top: -70vh;
      height: inherit;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  .image3Wrapper {
    position: relative;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    .image3Target {
      bottom: -100vh;
    }
    .image3Target,
    .image3 {
      position: absolute;
      top: -100vh;
      right: auto;
      left: auto;
    }
    .image3 {
      background-image: url(../../images/medusa3.jpg);
      width: 400px;
      height: inherit;
      background-color: #4e4e4e;
      background-blend-mode: luminosity;
      top: -60vh;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

@media only screen and (max-width: 1350px) {
  .container {
    .image1Wrapper {
      .image1 {
        background-image: url(../../images/medusa1.png);
        background-color: #4e4e4e;
        background-blend-mode: luminosity;
        width: 300px;
        top: -80vh;
        height: inherit;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
    .image2Wrapper {
      .image2 {
        background-image: url(../../images/medusa2.jpg);
        background-color: #4e4e4e;
        background-blend-mode: luminosity;
        width: 300px;
        top: -80vh;
        height: inherit;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
    .image3Wrapper {
      .image3 {
        background-image: url(../../images/medusa3.jpg);
        background-color: #4e4e4e;
        background-blend-mode: luminosity;
        width: 300px;
        top: -80vh;
        height: inherit;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }
}
