@use "../../styles/colors";

.container {
  position: fixed;
  width: 100vw;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 2em;
  background-color: colors.$primary-color;
  z-index: 3;
}
.random {
  font-size: 15vw;
  color: colors.$font-color;
  opacity: 1;
  animation-name: random;
}
.remove {
  opacity: 1;
  animation: remove 1s both;
}
@keyframes remove {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}
