@use "../../styles/colors";

.container {
  position: fixed;
  width: 100vw;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 20vw;
  background-color: colors.$primary-color;
  z-index: 3;
}

.remove {
  opacity: 1;
  animation: remove 1s both;
}
@keyframes remove {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@media (min-width: 500px) {
  .random {
    font-size: 2em;
  }
}

@media (min-width: 1000px) {
  .random {
    font-size: 3em;
  }
}
