@use "../../styles/colors";

.container {
  position: fixed;
  width: 100vw;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 5vw;
  font-family: colors.$font-family-text;
  background-color: colors.$primary-color;
  z-index: 3;
  text-align: center;
  flex-direction: column;
}
