@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500;700&display=swap" rel="stylesheet');

$primary-color: #e9e9e9;
$font-color: #979797;
$font-family-text: "Oswald", sans-serif;
