@use "./colors";

html,
body {
  padding: 0;
  margin: 0;
  background-color: #e9e9e9;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: colors.$font-color;
}
.c-scrollbar_thumb {
  background-color: colors.$font-color !important;
}
section[data-scroll-section] {
  min-height: 100vh;
}
::selection {
  background-color: #232323;
}
