@use "../../styles/colors";

.container {
  margin-top: 20vh;
  padding: 20px;
  min-height: 100vh;
  max-width: 2000px;
  display: flex;
  justify-content: space-around;
  gap: 60px;
  flex-direction: column;

  .q {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .title {
    font-family: colors.$font-family-text;
    color: #121212;
    width: 373px;
    height: fit-content;
  }

  .summaryContainer {
    font-family: colors.$font-family-text;
    max-width: 70%;
    margin-left: 10px;
    font-family: colors.$font-family-text;

    >span {
      display: inline-block;
      margin-bottom: 10vh;
      color: #121212;
      text-transform: uppercase;
    }
  }

  .summaryText1 {
    content: "";
  }

  .summaryText2 {
    content: "";
  }

  .summaryText3 {
    content: "";
  }
}

@media (min-width:796px) {
  .container {
    font-size: 2em;
  }
}