@use "../../styles/colors";
.senpai {
  position: fixed;
  bottom: 50px;
  left: -40px;
  transform: rotateZ(90deg);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #005171;
  gap: 5px;
  &:hover {
    color: rgb(0, 154, 215);
    .line {
      background-color: rgb(0, 154, 215);
    }
  }
}
.line {
  display: inline-block;
  width: 50px;
  height: 3px;
  overflow: hidden;
  background-color: #005171;
}
